.footer-class {
  display: grid;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  grid-template-columns: auto auto auto;
}
#footer-contact {
  display: grid;
  justify-content: center;
}
#footer-developer {
  display: grid;
  justify-content: center;
}
#footer-right{
  display:grid;
  justify-content: center;
}
